{% extends 'base.html' %}

{% block content %}
    
    <h3><p>About - Using Open AI to generate ideas for DISQ</p></h3>
    <p>This is a quick front-end for GPT3_Completion API (OpenAI) in action for generating ideas for DISQ outreach, marketing, and startup teams. Idea is that it generates responses that are based on knowledge of what is out there for similar queries (Innovation, impact, change makers, impact investments, social impact and entrepreneurship) while also having a very basic DISQ context as input.</p>

{% endblock %}